<head>
    <link rel="stylesheet" href="corona.css">
  </head>

<canvas id="canvas"></canvas>
<canvas id="plot" width="400" height="400"></canvas>


<div class="instructions">Click to restart simulation. Adjust values in the JS Panel.</div>

<a href="https://youtu.be/rhLTJ4Tjyyo" target="_blank" data-keyframers-credit style="color: #FFF"></a>
<script src="corona.js"></script>