*, *:before, *:after {
    box-sizing: border-box;
    position: relative;
  }
  
  body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: black;
  }
  
  canvas { 
    display: block; 
    width: 100%; 
    height: 100%; 
  }
  
  .instructions {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
    margin: 0.5em;
    background: rgba(0,0,0,0.3);
    color: #FFF;
    font-size: 10px;
    font-family: monospace;
  }